.header{
  padding: 20px 0;
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-logo{
  display: flex;
  align-items: center;
  &__icon{}
  &__title{
    padding: 20px;
    color: #4793FF;
    font-weight: bold;
    font-size: 25px;
  }
}
.header-controls{
  display: flex;
  align-items: center;
  &__theme-switcher{
    padding: 25px;
  }
  &__search{
    padding: 10px;
    color: var(--text-color);
    border-radius: 5px;
    font-size: 18px;
    margin: 0 15px 0 0;
    background: var(--component-bg);
    box-shadow: var(--box-shadow);
  }
}
